.Calendar_box {
    background-color: var(--white);
    color: var(--color2);
    font-size: 1.4rem;
    padding: .5em 1.5em;
}
.Calendar_box:not(:last-of-type) {
    margin-bottom: .75em;
}

.Calendar_box span {
    margin-left: .5em;
}

.Calendar_box_header {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding-bottom: .3em;
    border-bottom: .1rem solid var(--gray);
    margin-bottom: .3em;
}

.Edit-button {
    appearance: none;
    background-color: transparent;
    border: 0;
    margin-left: auto;
    cursor: pointer;
}

.Edit-button svg {
    fill: var(--color2);
    height: 1.6rem;
}