.Calendar_box {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color: var(--white);
    color: var(--color2);
    font-size: 1.4rem;
    padding: 1.5em 1em;
}
.Calendar_box:not(:last-of-type) {
    margin-bottom: .75em;
}

.Calendar_box i {
    margin-right: .5em;
    padding-right: .2em;
}

.Details_link {
    color: var(--color2);
    font-weight: 700;
    margin-left: auto;
    text-decoration: none;
}