* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --white: #fefefe;
  --gray: #414141;
  --black: #232323;
  --green1: #00ffe6;
  --green2: #018f79;
  --green3: #027c6d;
  --green4: #026354;
  --green5: #003f36;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: var(--white);
  color: var(--gray);
}
