* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --white: #fefefe;
  --gray: #414141;
  --black: #232323;
  --green1: #00ffe6;
  --green2: #018f79;
  --green3: #027c6d;
  --green4: #026354;
  --green5: #003f36;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: var(--white);
  color: var(--gray);
}

.Content_wrapper {
  min-height: 100vh;
  padding: 5vh 2rem;
  color: var(--white);
  background: 
      linear-gradient(
          to bottom,
          var(--green3),
          var(--black)
      );
}
.Content_wrapper p {
  line-height: 1.5;
  font-weight: 300;
  font-size: 1.6rem;
  text-align: justify;
}

.Content_wrapper code {
  color: var(--green1);
  font-family: monospace;
  letter-spacing: .1em;
  font-size: 1.2em;
}

.Content_wrapper hr {
  margin: 2rem 0;
  border-color: var(--green1);
}

.Basic_button {
  display: block;
  appearance: none;
  background-color: transparent;
  border: 0;
  color: var(--white);
  font-size: 1.6rem;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  margin: 1em auto;
}
